<form action="/<%= @post[:id] %>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter a Title" value="<%= @post[:title] %>">
  </div>
  <div>
    <label>Body</label>
    <textarea name="body" rows="8" cols="80" placeholder="enter text"> <%= @post[:body] %> </textarea>
  </div>
  <div>
    <input type="submit" value="Save Post">
  </div>
  <% if (@post [:id] != "") %>
  <input type="hidden" name="_method" value="put">
  <% end %>
</form>
