<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/global.css">
    <script type="text/javascript">

    </script>
  </head>
  <body>
        <img src="/images/cat.jpg" alt="picture of a kitten">
        <%= erb(:'partials/navigation', :layout => false) %>
        <%= yield %>
  </body>
</html>
